<h1>Todas las listas</h1>

<%= link_to 'Nueva lista', new_list_path %>

<table>
    <thead>
        <th>Nombre de la lista</th>
        <th>Creada</th>
        <th>Tareas</th>
    </thead>

    </tbody>
        <% @lists.each do |list| %>
            <tr>
                <td><%= list.name%></td>
                <td><%= list.created_at%></td>
                <td><%= link_to 'ver tareas', list_path(list.id) %></td>
            </tr>
        <%end%>
    </tbody>
</table>
